.hamburger_button {
    height: 30px;
    width: 30px;
    margin-right: 30px;
    margin-left: 10px;
}

    .hamburger_button:hover {
        cursor: pointer;
    }

.img-brand {
    width: 100px;
}

    .img-brand:hover {
        cursor: pointer;
    }

.border-rounded {
    margin-right: 10px;
    text-align: center;
    border: solid black 1px;
    border-radius: 100%;
    width: 25px;
}

.btn.rounded-pill.btn-outline-secondary {
    margin-right: 10px;
}

.form-control.input-header {
    width: 500px;
}
