
@{
    ViewData["Title"] = "Mes commandes";
}

<h3>Mes commandes</h3>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="flex-grow-1 mx-3">
                            <div class="d-flex align-items-center justify-content-between">
                                <h5 class="card-title font-weight-bold">Commande n°A42451</h5>
                                <p class="font-weight-bold">200$</p>
                            </div>
                            <p class="card-text">En cours de livraison</p>
                            <div class="mr-auto">
                                <button class="btn btn-info" onclick="location.href='@Url.Action("CommandeDetails","Compte")'">Voir en détails</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

