@*
    * Authors: Ugo MARIN, Matéo BATISTA GOMES
    * Date: 08/11/2022
*@
@{
    ViewData["Title"] = "Connexion";
}
<div class="fil-ariane">
    <h2>Authentification</h2>
    <hr />
</div>

<div class="d-flex justify-content-center">
    <form method="post" action="" class="form-login mx-3 w-35 border border-1 border-dark rounded-3 p-2 px-3 mb-1">
        <h3 class="text-center pt-2 pb-3">Login</h3>

        @* INPUT TEXT *@

        <div class="d-flex justify-content-between border border-1 border-dark rounded-3 p-2 mb-3">
            <label class="p-1 bg-light rounded font-size-sm">E-mail</label>
            <input class="w-75" type="text" id="email" />
        </div>
        <div class="d-flex justify-content-between border border-1 border-dark rounded-3 p-2">
            <label class="p-1 bg-light rounded font-size-sm">Mot de passe</label>
            <input type="password" class="w-75" />
        </div>
        <a href="#"><small>Réinitialiser le mot de passe ?</small></a>

        @* CHECKBOX + BOUTON SIGN IN *@

        <div class="d-flex justify-content-between pt-3 pb-4">
            <div class="my-auto">
                <input class="position-relative align-middle" type="checkbox" />
                <label>Se souvenir de moi</label>
            </div>
            <button type="button" class="btn btn-dark sign-in text-white rounded-2 p-2 w-25">Connexion</button>
        </div>

        @* BOUTON DE CONNEXION FACEBOOK / GOOGLE *@

        <div class="d-flex flex-column align-items-center">
            <button type="button" class="btn btn-facebook d-flex align-items-center justify-content-center w-75 mb-3 py-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook me-2" viewBox="0 0 16 16">
                    <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z" />
                </svg>
                Sign in with Facebook
            </button>
            <button type="button" class="btn btn-primary d-flex align-items-center justify-content-center w-75 mb-3 py-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google me-2" viewBox="0 0 16 16">
                    <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z" />
                </svg>
                Sign in with Google
            </button>
        </div>
        <div class="d-flex justify-content-between">
            <hr /> <span>ou</span> <hr />
        </div>
        <div class="d-flex justify-content-center"><a href="@Url.Action("RedirigerCreerCompte", "Compte")">Créer un compte</a></div>
    </form>
</div>

<script>

    function demandeDeConnexion() {
        console.log("tet")
        let DOMEmail = $('#email');
        let DOMPassword = $('input[type="password"]');

        if ((DOMEmail.val() === undefined || DOMEmail.val().replace(/ /g, '') == "") && (DOMPassword.val() === undefined || DOMPassword.val().replace(/ /g, '') == "")) {
            DOMEmail.addClass("border-danger");
            DOMPassword.addClass("border-danger");
            return -1;
        }
        else if ((DOMEmail.val() === undefined || DOMEmail.val().replace(/ /g, '') == "")) {
            DOMEmail.addClass("border-danger");
            DOMPassword.addClass("border-danger");
            return -1
        }
        else if ((DOMPassword.val() === undefined || DOMPassword.val().replace(/ /g, '') == "")) {
            DOMEmail.addClass("border-danger");
            DOMPassword.addClass("border-danger");
            return -1
        }
        else {
            DOMEmail.removeClass("border-danger");
            DOMPassword.removeClass("border-danger");
            $.ajax({
                url: "@Url.Action("Connecter","Compte")",
                data: {
                    email: DOMEmail.val().replace(/ /g, ''),
                    password: DOMPassword.val().replace(/ /g, '')
                },
                success: function (reponseBackEnd) {
                    if (reponseBackEnd.type == "ok")
                        location.href = '@Url.Action("Index","Compte")'
                    if (reponseBackEnd.type == "error") {
                        DOMEmail.addClass("border-danger");
                        DOMPassword.addClass("border-danger");
                    }
                }
            });
        }
    }
    $('.sign-in').on('click', demandeDeConnexion)


    $("form").on("submit", function (e) {
        e.preventDefault();
        demandeDeConnexion()
    });
</script>