<div class="d-flex flex-column justify-content-center align-items-center mt-5 gap-3">
    <h3 class="text-center">Félicitations pour votre commande !</h3>
    <p class="text-center w-50">Vous pouvez retrouver votre récapitulatif de commande dans l'onglet <span class="fw-bold">Compte > Mes commandes</span> ou en cliquant sur le bouton ci-dessous :</p>
    <button class="btn btn-primary"> Télécharger le récapitulatif de commande</button>
    <span class="text-center">ou</span>
    <a class="btn btn-primary" href="@Url.Action("Index", "Home")">Revenir sur l'écran d'accueil</a>
</div>
