@*
    Author: Matéo BATISTA GOMES
    date: 07/11/2022
*@

<div>
    <h2>Contact</h2>
    <hr/>
</div>
<form class="form-contact w-75 mx-auto">
    <div class="w-75 mx-auto">
        <input type="text" class="form-control w-75 mb-3 bg-light" placeholder="Nom" />
        <input type="text" class="form-control w-75 mb-3 bg-light" placeholder="Adresse email" />
        <input type="text" class="form-control w-75 mb-3 bg-light" placeholder="Sujet" />
        <textarea class="form-control w-100 mb-3 bg-light" rows="5" placeholder="Message..."></textarea>
    </div>
    <div class="text-center w-100">
        <button type="submit" class="btn btn-light w-25">Captcha</button>
        <button type="submit" class="btn btn-primary w-25">Envoyer</button>
    </div>
</form>
